name: github actions dynamic materix

on: 
    workflow_dispatch:
        inputs:
            os: 
                description: operating system
                default: "windows-2025, ubuntu-24.04"
                type: string
            node-version:
                description: Node Version
                default: "18, 20, 22"
                type: string

jobs:
    perpate-matrix:
        runs-on: ubuntu-latest
        steps:
            - run: echo "step-output=value" >> $GITHUB_OUTPUT
              id: step-1 
            - run: echo "step-output=value2" >> $GITHUB_OUTPUT
              id: step-2
            - run: |
                echo "${{ steps.step-1.outputs.step-output }}"
                echo "${{ steps.step-2.outputs.step-output }}"
    node-matrix:
        continue-on-error: true
        strategy: 
            matrix:
                os: [ubuntu-latest, windows-latest]
                node-version: [18, 20, 22]
            fail-fast: false
            # max-parallel: 3
        runs-on: ${{ matrix.os }}
                    
        steps:
        - run: node -v
        - uses: actions/setup-node@v6
          with:
            node-version: ${{ matrix.node-version }}
        - run: node -v