name: Environment Variables

on: [push]
env:
    WF_LEVEL_ENV: Available to all jobs and steps in the workflow

jobs:
    env-vars-and-context:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        env:
            JOB_LEVEL_ENV: Available to all steps in env-vars yaml
        steps:
        - name: Log ENV VAR
          run: echo $GITHUB_REF

        - name: Log context
          run: echo '${{ github.ref }}'
        - name: Log custom ENV vars
          env:
            STEP_LEVEL_ENV: Available to this step only
            WF_LEVEL_ENV: overridden in the step
          run: |
            echo '${{ env.STEP_LEVEL_ENV }}'
            echo $STEP_LEVEL_ENV    