name: github actions materix

on: [push]

jobs:
    node-matrix:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                node-version: [18, 20, 22]
        runs-on: ${{ matrix.os }}
                    
        steps:
        - run: node -v
        - uses: actions/setup-node@v6
          with:
            node-version: ${{ matrix.node-version }}
        - run: node -v