name: Pull Request Comment

on:
    pull_request_target:
        types: [opened]


jobs:
    pr-comment:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
        - name: Comment on new PR
          uses: actions/github-script@v7
          with:
            script: |
                github.reset.issue.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: 'Thanks for contributing!',
                });
        